@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  src: local('LMRoman10'), url('/media/lmroman10-regular.woff')
       format('woff');
  font-display: swap;
}

:root {
  /* define theme colors */
  --background-color: white;
  --foreground-color: #fdf6e3;

  --solarized-base03:    #002b36;
  --solarized-base02:    #073642;
  --solarized-base01:    #586e75;
  --solarized-base00:    #657b83;
  --solarized-base0:     #839496;
  --solarized-base1:     #93a1a1;
  --solarized-base2:     #eee8d5;
  --solarized-base3:     #fdf6e3;
  --solarized-yellow:    #b58900;
  --solarized-orange:    #cb4b16;
  --solarized-red:       #dc322f;
  --solarized-magenta:   #d33682;
  --solarized-violet:    #6c71c4;
  --solarized-blue:      #268bd2;
  --solarized-cyan:      #2aa198;
  --solarized-green:     #859900;
}

html {
  background-color: white;
  font-size: 12px;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 1rem;
  color: var(--solarized-violet);
}

.sidsu_small {
  font-size: 1rem;
}

.sidsu_big {
  font-size: 7rem;
}

.sidsu {
  font-size: 4rem;
}

body { /* This applies to everything */
  font-family: 'LMRoman10';
  font-style: normal;
  font-weight: 400;
  font-size: 20pt;
  line-height: normal;
  background-image: url("/media/skeleton_trumpet.gif");
  margin: 0.5rem;
  color: #586e75;
}
  
main { /* This applies to the "hi my name is sid su portion */
  font-family: LMRoman10, serif;
  font-size: 2rem;
  text-align: left;
  margin: auto;

  /* margin-left: auto;
  margin-right: auto;
  width: 600px; */

  padding: 2%;
  padding-top: 0px;
  margin-top: 0;
  max-width:65%;
  margin-left:auto;
  margin-right:auto;
  padding-left: 2%;
  padding-right: 2%;

  /* background-color: #fdf6e3; solarized light */
  background-color: var(--foreground-color);
}

/* Standard border radius for elements */
img, video, main {
  border-radius: 2rem;
}

a {
  font-family: LMRoman10, serif;
  color: var(--solarized-violet);
}

p {
  font-family: LMRoman10, serif;
  font-size: 2rem;
  text-align: left;    
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  color: var(--solarized-violet);
}

h2 {
  font-size: 3rem;
  color: var(--solarized-orange);
}

h3 {
  font-size: 2.5rem;
  color: var(--solarized-green);
}

.headshot { /* for the picture */
  float: left;
  width: 10.70rem;
  padding: 0.2rem;

  /* To match the margin of the parent element*/
  margin-top: 2rem;
  margin-bottom: 0;
}

footer {
  font-size: small;
}

#e-mail {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  font-family: LMRoman10, serif;
  color: var(--solarized-violet);
}

table, td, th {
  border: 1px solid var(--solarized-base1);
  table-layout: fixed;
  width: 100%
}
th {
  position: sticky;
}

tr:nth-child(2n) {background-color: silver}

label {
  text-align: center;
}
input {
  font-family: LMRoman10, serif;
  font-size: 2rem;
  text-align: left;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
}

button[type="button"] {
  font-family: LMRoman10, serif;
  font-size: 2rem;
  text-align: left;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
}

video {
  max-width: 100%;
  text-align: center;
}

iframe {
    max-width: 100%;

    /* EMACS and VSCODE don't yet recognize this tag. Do better devs! */
    aspect-ratio: 16 / 9; 
    
    border: none;
    text-align: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.radiotab {
  position: absolute;
  opacity: 0; /* hides the selector */
  max-width: 100%;
}

.label {
  cursor: pointer;
  width: 33.33%;

  /* to get W3 verification */
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 3rem;
  color: var(--solarized-orange);
}

.label:hover {
  background: var(--solarized-base1);
}

.radiotab:checked + .label {
  background: var(--solarized-base2);
}

.panel {
  display: none;
  padding: 2rem;
  border-style: dotted;
  order: 99;
  width: 100%;
  max-width: inherit
}

.radiotab:checked + .label + .panel {
  display: block;
  max-width: 100%;
}

/* for the mobile response */
@media screen and (max-width: 600px) {
  body {
    background-image: none;
  }
  main {
    max-width: 95%;
  }

  img {
   	max-width: 100%;
  }

  .headshot {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .headshot_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .tabs {
    flex-direction: column;
    max-width: 100%
  }

  .label {
    width: 100%
  }

  .panel {
    width: inherit;
  }
}
