/* Rules shared accross web pages */
/* index.html's */
html {font-size: 24px}
body {color: #586e75; padding-top: 0px}
main {max-width: 800px; margin: auto; background-color: #fdf6e3;
    padding: 0% 5% 5% 5%}
header {text-align: center}
address a {text-decoration: none}
p {line-height: 1.5}
video {max-width: 100%}
video:fullscreen {border: 0; border-radius: 0}
main, img, video {border-radius: 2rem}
a {color: #6c71c4}
h1 {color: #6c71c4; margin-top: 0; font-size: 4rem; margin-bottom: 0}
h2 {margin: 0; color: #dc322f}
h3 {margin: 0; color: #cb4b16}
details p {line-height: 1}
summary h3 {display: inline-block}
.big-s {font-size: 7rem}
.headshot {float: left; width: 11rem; margin: 2rem; aspect-ratio: 1/1}
@media screen and (max-width: 600px) {
    h1 {font-size: 2rem}
    .big-s {font-size: 3.5rem}
    .headshot {width: 100%; margin: 0.5rem 0}
}

/* blog post */
html {font: 24px serif; background: #fdf6e3; word-wrap: break-word}
body {max-width: 800px; margin: auto; color: #002b36}
h1 {font-size: 2rem; margin: 0}
a {color: #d33682}
figure {margin: auto; text-align: center}
table {margin: auto; border: 1px solid}
td, th {text-align: left}
.num {text-align: right}
.bib {padding-left: 2rem; text-indent: -2rem}

/* solarized light colors */
:root {
    --background-color: white;
    --foreground-color: #fdf6e3;

    --solarized-base03:    #002b36;
    --solarized-base02:    #073642;
    --solarized-base01:    #586e75;
    --solarized-base00:    #657b83;
    --solarized-base0:     #839496;
    --solarized-base1:     #93a1a1;
    --solarized-base2:     #eee8d5;
    --solarized-base3:     #fdf6e3;
    --solarized-yellow:    #b58900;
    --solarized-orange:    #cb4b16;
    --solarized-red:       #dc322f;
    --solarized-magenta:   #d33682;
    --solarized-violet:    #6c71c4;
    --solarized-blue:      #268bd2;
    --solarized-cyan:      #2aa198;
    --solarized-green:     #859900;
}
