@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  src: local('LMRoman10'), url('./lmroman10-regular.woff') format('woff');
  font-display: swap;
}

:root {
  --background-color: white;
  --foreground-color: #fdf6e3;
}

html {
  background-color: var(--background-color);
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 1rem;
  color: #6c71c4;
}

.sidsu_small {
  font-size: 1rem;
}

.sidsu_big {
  font-size: 7rem;
}

.sidsu {
  font-size: 4rem;
}

body { /* This applies to everything */
  font-family: 'LMRoman10';
  font-style: normal;
  font-weight: 400;
  font-size: 20pt;
  line-height: normal;
  background-image: url("skeleton_trumpet.gif");
  margin: 0.5rem;
  color: #586e75;
}
  
main { /* This applies to the "hi my name is sid su portion */
  font-family: LMRoman10, serif;
  font-size: 2rem;
  text-align: left;
  margin: auto;

  /* margin-left: auto;
  margin-right: auto;
  width: 600px; */

  padding: 2%;
  padding-top: 0px;
  margin-top: 0;
  max-width:65%;
  margin-left:auto;
  margin-right:auto;
  padding-left: 2%;
  padding-right: 2%;

  /* background-color: #fdf6e3; solarized light */
  border-radius: 2rem;
  background-color: var(--foreground-color);
}

.headshot { /* for the picture */
  float: left;
  /* width: 130px; */
  width: 8.6rem;
  padding: 0.2rem;
  border-radius: 50%;
  margin: 2rem;
}

footer {
  font-size: small;
}

#e-mail {
  all: unset;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

table, td, th {
  border: 1px solid gray
}
th {
  position: sticky;
}

tr:nth-child(2n) {background-color: silver}

label {
  text-align: center;
}
input {
  font-family: LMRoman10, serif;
  font-size: 2rem;
  text-align: left;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
}

button[type="button"] {
  font-family: LMRoman10, serif;
  font-size: 2rem;
  text-align: left;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
}
